
body{
    background-color: antiquewhite;rgb(12,21,156);

}
P{
    background-color: black; background-color: blue;
    color: white;
    width: 50%

}

.premier{
    background-color: brown;
    width: 33%;
}

.deux{
    background-color: cornsilk;
    width: 44%;
}
img{
    height: 200px;
    border-style: solid;
    border-radius: 20%;
    border-color: #8a2be2;
    padding: 20px;

    margin-left: 40%;
}

hl{
    border-style: dotted;
    border-bottom: 50%;
}