
body{
    background-color: antiquewhite;rgb(12,21,156);

}
P{
    background-color: black; background-color: blue;
    color: white;
    width: 50%

}

.premier{
    background-color: brown;
    width: 33%;
}

.deux{
    background-color: cornsilk;
    width: 44%;
}
img{
    height: 200px;
    border-style: solid;
    padding: 10%;
}
