
body{
    background-color: antiquewhite;rgb(12,21,156);

}
P{
    background-color: black; background-color: blue;
    color: white;
    width: 50%

}

.premier{
    background-color: brown;
    width: 33%;
    text-align: justify;
}

.deux{
    background-color: cornsilk;
    width: 44%;
    text-align: justify;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Beaucoup de sites utilisent des fontes externes*/
img{
    height: 200px;
    border-style: solid;
    border-radius: 20%;
    border-color: #8a2be2;
    padding: 20px;

    margin-left: 40%;
}

h1{
    border-bottom: solid;
}
div{
    border: solid;
    
}